
@using PickAndPlay.Models;

@{
    ViewData["Title"] = "Accueil";
}

@{IEnumerable<Jeu> nouveautes = ViewData["nouveautes"] as IEnumerable<Jeu>;

}


@{IEnumerable<Jeu> preferes = ViewData["preferes"] as IEnumerable<Jeu>;

}

<div class="row">

    <h5 class="mx-auto text-center text-primary  display-5">
        Vos Préférés
    </h5>
</div>
<div class="row">
    @foreach (Jeu jeu in preferes)
    {
        <div class="col-md m-3 card">
            <div class="p-2">
                @if (jeu.ImagePrincipale != null)
                {
                    <img class="rounded" src="./images/jeux/@jeu.ImagePrincipale.NomFile" alt="@jeu.ImagePrincipale.Alt" />
                }
            </div>
            <div class="card m-2 p-2">
                <a href="Home/Jeu?id=@jeu.Id">
                    <h5 class="mt-0">@jeu.Nom</h5>
                </a>

                @if (jeu.Description != null)
                {
                    @jeu.Description;
                }
            </div>
        </div>
    }
</div>

<div class="row">

    <h5 class="mx-auto text-center text-primary  display-5">
        Vos Préférés
    </h5>
</div>
<div class="row">
    @foreach (Jeu jeu in nouveautes)
    {
        <div class="col-md m-3 card">
            <div class="p-2">
                @if (jeu.ImagePrincipale != null)
                {
                    <img class="rounded" src="./images/jeux/@jeu.ImagePrincipale.NomFile" alt="@jeu.ImagePrincipale.Alt" />
                }
            </div>
            <div class="card m-2 p-2">
                <a href="/Home/Jeu?id=@jeu.Id">
                    <h5 class="mt-0">@jeu.Nom</h5>
                </a>

                @if (jeu.Description != null)
                {
                    @jeu.Description;
                }
            </div>
        </div>
    }
</div>