@using PickAndPlay;

@model PickAndPlay.Models.Jeu;

@{
    ViewData["Title"] = Model.Nom;
}



@section Css {
    <link href="~/bootstrap/css/star-rating.css"
          media="all"
          rel="stylesheet"
          type="text/css" />
    <link href="~/bootstrap/css/star-rating-theme.css"
          media="all"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
}

<div class="row">
    <div class="col-md-6">
        <div>
            @if (@Model.ImageGrande != null)
            {
                <img class="img-fluid p-5"
                     src="~/images/jeux/@Model.ImageGrande.NomFile"
                     alt="@Model.ImageGrande.Alt" />
            }


        </div>
    </div>
    <div class="col-md">
        <section class="m-5">
            <h4 class="display-5 m-3">
                @Model.Nom
            </h4>
            <p>
                <strong>Éditeur : </strong><a href="@Model.LinkEditeur">
                    @Utilitaires.Afficher(Model.Editeur, "Inconnu")
                </a>
            </p>
            <p>
                <strong>Plateformes : </strong>

                @foreach (var console in Model.Consoles)
                {
                    <a href="~/Home/ConsoleDeJeu?id=@console.Id">
                        @console.Model
                        @if (
                   Model.Consoles.IndexOf(console) !=
                   Model.Consoles.Count - 1)
                        {

                            <span>, </span>
                        }

                    </a>
                }
            </p>
            <p>
                <strong>Date de sortie : </strong>
                <a href="#">
                    @Utilitaires.AfficherAnnee(Model.DateDeSortie, "Inconnue")
                </a>
            </p>
            <p>
                <strong>Genre : </strong>
                @if (Model.JeuGenre != null)
                {
                    foreach (var jg in Model.JeuGenre)

                    {

            <a href="#">
                @jg.GenreNavigation.Libelle
                
                @if (
                Model.JeuGenre.ToList().IndexOf(jg) !=
         Model.JeuGenre.Count - 1)
                {
                    <span>, </span>
                }
            </a>
                    }
                }


            </p>
            <p>
                <strong>Tarif : </strong>
                <a href="#">
                    @Utilitaires.Afficher(Model.PrixLocation, "Inconnu")
                    @if (Model.PrixLocation.HasValue)
                    {<span>/ semaine</span>}

                </a>
            </p>

            <p>
                <strong>Classification :</strong>
            </p>

            @if (Model.Pegi.HasValue)
            {
                <p>
                    <a href="https://pegi.info/">
                        @{
                            string src = "/images/pegi/pegi" + Model.Pegi + ".png";
                            string alt = "Pegi " + Model.Pegi;
                        }
                        <img class="ml-3 w-25" src=@src alt=@alt />
                    </a>
                </p>
            }



            <form class="form-inline" asp-controller="Home" asp-action="Location" method="get">

                @if (Model.Disponible.GetValueOrDefault() && Model.PrixLocation != null)
                {

                    <a class="text-success" href="#"> Disponible à la location</a>

                    <input type="hidden" name="id" value="@Model.Id" />

                    <input class="ml-4 btn btn-success"
                           type="submit"
                           value="Réserver" />
                }
                else
                {
                    <a class="text-danger" href="#">Non Disponible</a>
                    <input class="ml-4 btn btn-danger"
                           type="submit"
                           value="Non Disponible"
                           disabled />
                }
            </form>

            <form class="mt-5">
                <div class="form-group row">
                    <label for="note" class="col-sm-3 col-form-label"><strong>Note : </strong></label>
                    <span id="note" class="mt-2">

                        @if (!Model.NoteMoyenne().HasValue)
                        {
                            <a href="#">Non noté</a>
                        }

                        else
                        {
                            @for (int i = 0; i < 5; i++)
                            {


                                string klass = "fa fa-star";

                                if ((Model.NoteMoyenne() - i) >= 0.5m)
                                {
                                    klass += " checked";
                                }

                                <span class="@klass"></span>
                            }

                        }
                    </span>
                </div>
            </form>
        </section>
    </div>
</div>
